<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBApp.Properties.Settings.ПоврConnection" connectionString="Data Source=DESKTOP-P8733VA;Initial Catalog=Повр;Persist Security Info=True;User ID=Povr_App"
            providerName="System.Data.SqlClient" />
        <add name="DBApp.Properties.Settings.табаровConnectionString"
            connectionString="Data Source=DESKTOP-P8733VA;Initial Catalog=табаров;Persist Security Info=True;User ID=Tabarov_App"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>